openapi: 3.0.0
info:
  title: Oda Bultum University - Dormitory Management System API
  description: |
    A comprehensive REST API for managing student dormitories at Oda Bultum University.
    
    **Key Features:**
    - Student room allocation (automatic & manual)
    - Maintenance request tracking
    - Room change request workflow
    - Inventory management (furniture, linen, keys)
    - Reporting & analytics
    - User management with role-based access
    - Notifications & audit logging
    
    **Important Note:** This system contains NO financial/payment functionality as dorms are provided free of charge.
    
    **Authentication:** Bearer token (JWT) required for all endpoints except login and password reset.
    
    **Roles:** Student, Dorm Admin, Maintenance Staff, Management, System Admin
    
  version: 2.0.0
  contact:
    name: Neuron
    email: mushas1248@gmail.com
  license:
    name: Confidential - Oda Bultum University Internal Use

servers:
  - url: https://api.obu.edu.et/dms/v1
    description: Production Server
  - url: https://staging-api.obu.edu.et/dms/v1
    description: Staging Server
  - url: http://localhost:3000/api
    description: Local Development

tags:
  - name: Authentication
    description: Login, logout, password management
  - name: Student
    description: Student portal endpoints (assignment, profile, etc.)
  - name: Room Management
    description: CRUD operations for dorms, floors, rooms
  - name: Room Allocation
    description: Automatic and manual room assignment
  - name: Room Change Requests
    description: Student requests and admin approval workflow
  - name: Maintenance
    description: Maintenance requests and work orders
  - name: Inventory
    description: Furniture, linen, and key management
  - name: Reports
    description: Analytics and exportable reports
  - name: User Management
    description: User account CRUD and role management
  - name: Notifications
    description: In-app notifications and broadcasts
  - name: Audit Logs
    description: System activity tracking

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Enter your JWT token from login response

  schemas:
    # ===== AUTH SCHEMAS =====
    LoginRequest:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
          example: "alemu.bekele"
        password:
          type: string
          format: password
          example: "SecurePass123"
    
    LoginResponse:
      type: object
      properties:
        token:
          type: string
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        refreshToken:
          type: string
        role:
          type: string
          enum: [student, dorm_admin, maintenance, management, system_admin]
        user:
          $ref: '#/components/schemas/User'
    
    ForgotPasswordRequest:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
          example: "alemu.bekele@obu.edu.et"
    
    ResetPasswordRequest:
      type: object
      required:
        - token
        - newPassword
      properties:
        token:
          type: string
        newPassword:
          type: string
          format: password
          minLength: 6
    
    # ===== USER SCHEMAS =====
    User:
      type: object
      properties:
        id:
          type: string
          example: "usr_12345"
        username:
          type: string
          example: "alemu.bekele"
        fullName:
          type: string
          example: "Alemu Bekele"
        email:
          type: string
          format: email
          example: "alemu.bekele@obu.edu.et"
        role:
          type: string
          enum: [student, dorm_admin, maintenance, management, system_admin]
        status:
          type: string
          enum: [active, inactive]
        lastLogin:
          type: string
          format: date-time
        studentId:
          type: string
          description: Only for student role
          example: "OBU12345"
    
    CreateUserRequest:
      type: object
      required:
        - fullName
        - email
        - role
      properties:
        fullName:
          type: string
        email:
          type: string
          format: email
        role:
          type: string
          enum: [student, dorm_admin, maintenance, management, system_admin]
        studentId:
          type: string
          description: Required if role is student
        tempPassword:
          type: boolean
          default: true
    
    # ===== STUDENT SCHEMAS =====
    Student:
      type: object
      properties:
        studentId:
          type: string
          example: "OBU12345"
        fullName:
          type: string
          example: "Alemu Bekele"
        gender:
          type: string
          enum: [M, F]
        department:
          type: string
          example: "Computer Science"
        year:
          type: integer
          minimum: 1
          maximum: 5
        phone:
          type: string
          example: "0912345678"
        email:
          type: string
          format: email
    
    RoomAssignment:
      type: object
      properties:
        room:
          $ref: '#/components/schemas/Room'
        dorm:
          $ref: '#/components/schemas/Dorm'
        building:
          type: string
        floor:
          type: integer
        assignedDate:
          type: string
          format: date
        roommates:
          type: array
          items:
            $ref: '#/components/schemas/Student'
    
    # ===== ROOM SCHEMAS =====
    Dorm:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          example: "Block A"
        code:
          type: string
          example: "BLK-A"
        address:
          type: string
        warden:
          type: string
        floors:
          type: array
          items:
            type: integer
    
    CreateDormRequest:
      type: object
      required:
        - name
        - code
      properties:
        name:
          type: string
        code:
          type: string
        address:
          type: string
        warden:
          type: string
    
    Room:
      type: object
      properties:
        roomId:
          type: string
          example: "BLK-A-101"
        building:
          type: string
        floor:
          type: integer
        roomNumber:
          type: string
          example: "101"
        type:
          type: string
          enum: [Single, Double, Triple]
        capacity:
          type: integer
        currentOccupancy:
          type: integer
        status:
          type: string
          enum: [Available, Occupied, Under Maintenance]
        genderRestriction:
          type: string
          enum: [Male, Female, None]
    
    CreateRoomRequest:
      type: object
      required:
        - buildingId
        - floor
        - roomNumber
        - type
        - capacity
      properties:
        buildingId:
          type: string
        floor:
          type: integer
        roomNumber:
          type: string
        type:
          type: string
          enum: [Single, Double, Triple]
        capacity:
          type: integer
        genderRestriction:
          type: string
          enum: [Male, Female, None]
    
    UpdateRoomRequest:
      type: object
      properties:
        capacity:
          type: integer
        type:
          type: string
          enum: [Single, Double, Triple]
        status:
          type: string
          enum: [Available, Occupied, Under Maintenance]
        genderRestriction:
          type: string
          enum: [Male, Female, None]
    
    # ===== ALLOCATION SCHEMAS =====
    AutoAllocationRequest:
      type: object
      properties:
        gender:
          type: string
          enum: [M, F, all]
        year:
          type: integer
          minimum: 1
          maximum: 5
        department:
          type: string
        previewOnly:
          type: boolean
          default: false
    
    AutoAllocationPreview:
      type: object
      properties:
        eligibleStudents:
          type: integer
        totalBedsAvailable:
          type: integer
        estimatedSuccessRate:
          type: number
          format: float
        estimatedAssigned:
          type: integer
        estimatedUnassigned:
          type: integer
    
    AutoAllocationResult:
      type: object
      properties:
        assigned:
          type: array
          items:
            $ref: '#/components/schemas/Assignment'
        unassigned:
          type: array
          items:
            $ref: '#/components/schemas/Student'
        summary:
          type: object
          properties:
            totalAssigned:
              type: integer
            totalUnassigned:
              type: integer
            reason:
              type: string
    
    ManualAllocationRequest:
      type: object
      required:
        - studentId
        - roomId
      properties:
        studentId:
          type: string
        roomId:
          type: string
    
    Assignment:
      type: object
      properties:
        id:
          type: string
        student:
          $ref: '#/components/schemas/Student'
        room:
          $ref: '#/components/schemas/Room'
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
    
    # ===== ROOM CHANGE SCHEMAS =====
    RoomChangeRequest:
      type: object
      properties:
        id:
          type: string
        student:
          $ref: '#/components/schemas/Student'
        currentRoom:
          $ref: '#/components/schemas/Room'
        requestedRoom:
          $ref: '#/components/schemas/Room'
        reason:
          type: string
          enum: [conflict, maintenance, health, other]
        description:
          type: string
        status:
          type: string
          enum: [pending, approved, rejected]
        submittedAt:
          type: string
          format: date-time
        rejectionReason:
          type: string
    
    CreateRoomChangeRequest:
      type: object
      required:
        - reason
        - description
      properties:
        reason:
          type: string
          enum: [conflict, maintenance, health, other]
        description:
          type: string
    
    ApproveRoomChangeRequest:
      type: object
      required:
        - newRoomId
      properties:
        newRoomId:
          type: string
    
    RejectRoomChangeRequest:
      type: object
      required:
        - rejectionReason
      properties:
        rejectionReason:
          type: string
    
    # ===== MAINTENANCE SCHEMAS =====
    MaintenanceRequest:
      type: object
      properties:
        id:
          type: string
        requestId:
          type: string
          example: "MR-2026-0001"
        room:
          $ref: '#/components/schemas/Room'
        category:
          type: string
          enum: [Plumbing, Electrical, Furniture, Sanitation, Other]
        description:
          type: string
        priority:
          type: string
          enum: [Low, Medium, High]
        status:
          type: string
          enum: [Submitted, In Progress, Completed, Rejected]
        submittedBy:
          $ref: '#/components/schemas/Student'
        assignedTo:
          $ref: '#/components/schemas/User'
        submittedAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        resolutionNotes:
          type: string
        trackingNumber:
          type: string
    
    CreateMaintenanceRequest:
      type: object
      required:
        - roomId
        - category
        - description
        - priority
      properties:
        roomId:
          type: string
        category:
          type: string
          enum: [Plumbing, Electrical, Furniture, Sanitation, Other]
        description:
          type: string
        priority:
          type: string
          enum: [Low, Medium, High]
        image:
          type: string
          format: binary
          description: Optional image upload
    
    UpdateMaintenanceStatusRequest:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [In Progress, Completed, Rejected]
        resolutionNotes:
          type: string
    
    AddMaintenanceNoteRequest:
      type: object
      required:
        - note
      properties:
        note:
          type: string
        isInternal:
          type: boolean
          default: false
    
    ReassignMaintenanceRequest:
      type: object
      required:
        - staffId
      properties:
        staffId:
          type: string
    
    # ===== INVENTORY SCHEMAS =====
    FurnitureItem:
      type: object
      properties:
        id:
          type: string
        roomId:
          type: string
        itemName:
          type: string
          enum: [Bed, Mattress, Desk, Chair, Wardrobe, Shelf]
        quantity:
          type: integer
        condition:
          type: string
          enum: [Good, Fair, Damaged, Missing]
    
    CreateFurnitureRequest:
      type: object
      required:
        - roomId
        - itemName
        - quantity
      properties:
        roomId:
          type: string
        itemName:
          type: string
        quantity:
          type: integer
        condition:
          type: string
          enum: [Good, Fair, Damaged, Missing]
          default: Good
    
    UpdateFurnitureRequest:
      type: object
      properties:
        quantity:
          type: integer
        condition:
          type: string
          enum: [Good, Fair, Damaged, Missing]
    
    LinenRecord:
      type: object
      properties:
        id:
          type: string
        student:
          $ref: '#/components/schemas/Student'
        items:
          type: array
          items:
            type: string
            enum: [Sheet, Blanket, Pillowcase, Towel]
        dateIssued:
          type: string
          format: date
        expectedReturnDate:
          type: string
          format: date
        dateReturned:
          type: string
          format: date
        damages:
          type: string
    
    IssueLinenRequest:
      type: object
      required:
        - studentId
        - items
      properties:
        studentId:
          type: string
        items:
          type: array
          items:
            type: string
        dateIssued:
          type: string
          format: date
    
    KeyRecord:
      type: object
      properties:
        id:
          type: string
        student:
          $ref: '#/components/schemas/Student'
        room:
          $ref: '#/components/schemas/Room'
        keyCode:
          type: string
        dateIssued:
          type: string
          format: date
        dateReturned:
          type: string
          format: date
        condition:
          type: string
    
    IssueKeyRequest:
      type: object
      required:
        - studentId
        - roomId
        - keyCode
      properties:
        studentId:
          type: string
        roomId:
          type: string
        keyCode:
          type: string
    
    # ===== REPORT SCHEMAS =====
    DashboardSummary:
      type: object
      properties:
        totalStudents:
          type: integer
        totalRooms:
          type: integer
        occupancyRate:
          type: number
          format: float
        pendingMaintenance:
          type: integer
        availableBeds:
          type: integer
    
    OccupancyReportData:
      type: object
      properties:
        building:
          type: string
        totalRooms:
          type: integer
        occupiedRooms:
          type: integer
        occupancyRate:
          type: number
          format: float
        data:
          type: array
          items:
            type: object
            properties:
              floor:
                type: integer
              occupancyRate:
                type: number
    
    StudentDirectoryEntry:
      type: object
      properties:
        studentId:
          type: string
        fullName:
          type: string
        department:
          type: string
        year:
          type: integer
        roomNumber:
          type: string
        building:
          type: string
        phone:
          type: string
        email:
          type: string
    
    MaintenanceSummary:
      type: object
      properties:
        byCategory:
          type: array
          items:
            type: object
            properties:
              category:
                type: string
              count:
                type: integer
        avgResolutionTime:
          type: number
          format: float
          description: Average resolution time in hours
        topIssues:
          type: array
          items:
            type: object
            properties:
              description:
                type: string
              count:
                type: integer
    
    RoomUtilizationEntry:
      type: object
      properties:
        roomId:
          type: string
        capacity:
          type: integer
        currentOccupancy:
          type: integer
        utilizationRate:
          type: number
          format: float
    
    ExportReportRequest:
      type: object
      required:
        - reportType
        - format
      properties:
        reportType:
          type: string
          enum: [occupancy, student_directory, maintenance_summary, room_utilization, unassigned_students, inventory_condition]
        format:
          type: string
          enum: [pdf, xlsx, csv]
        filters:
          type: object
    
    ExportResponse:
      type: object
      properties:
        fileUrl:
          type: string
        expiresAt:
          type: string
          format: date-time
    
    # ===== NOTIFICATION SCHEMAS =====
    Notification:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        message:
          type: string
        isRead:
          type: boolean
        createdAt:
          type: string
          format: date-time
        type:
          type: string
          enum: [room_assignment, room_change, maintenance_update, announcement]
    
    BroadcastNotificationRequest:
      type: object
      required:
        - title
        - message
        - target
      properties:
        title:
          type: string
        message:
          type: string
        target:
          type: string
          enum: [all_students, building, room, specific_user]
        targetId:
          type: string
          description: Building ID, Room ID, or User ID based on target
        attachmentUrl:
          type: string
    
    # ===== AUDIT LOG SCHEMAS =====
    AuditLog:
      type: object
      properties:
        id:
          type: string
        timestamp:
          type: string
          format: date-time
        user:
          type: string
        action:
          type: string
          enum: [CREATE, UPDATE, DELETE, LOGIN, LOGOUT, APPROVE, REJECT, ASSIGN]
        entity:
          type: string
        entityId:
          type: string
        ipAddress:
          type: string
        status:
          type: string
          enum: [SUCCESS, FAILED]
        details:
          type: string
    
    # ===== COMMON RESPONSES =====
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
        code:
          type: string
        timestamp:
          type: string
          format: date-time
    
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string

security:
  - bearerAuth: []

# ===== PATHS =====
paths:
  # ========== AUTHENTICATION ==========
  /auth/login:
    post:
      tags:
        - Authentication
      summary: User login
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            example:
              username: "alemu.bekele"
              password: "SecurePass123"
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
              example:
                token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                refreshToken: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                role: "student"
                user:
                  id: "usr_12345"
                  username: "alemu.bekele"
                  fullName: "Alemu Bekele"
                  email: "alemu.bekele@obu.edu.et"
                  role: "student"
                  status: "active"
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    
  /auth/logout:
    post:
      tags:
        - Authentication
      summary: User logout
      operationId: logout
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Logout successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
    
  /auth/forgot-password:
    post:
      tags:
        - Authentication
      summary: Request password reset
      operationId: forgotPassword
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordRequest'
      responses:
        '200':
          description: Reset link sent if email exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
    
  /auth/reset-password:
    post:
      tags:
        - Authentication
      summary: Reset password with token
      operationId: resetPassword
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
      responses:
        '200':
          description: Password reset successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
    
  /auth/validate-session:
    get:
      tags:
        - Authentication
      summary: Validate current session
      operationId: validateSession
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Session valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                  role:
                    type: string
    
  # ========== STUDENT ==========
  /student/assignment:
    get:
      tags:
        - Student
      summary: Get student's room assignment
      operationId: getMyAssignment
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Assignment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomAssignment'
              example:
                room:
                  roomId: "BLK-A-101"
                  building: "Block A"
                  floor: 1
                  roomNumber: "101"
                  type: "Double"
                  capacity: 4
                  currentOccupancy: 2
                  status: "Occupied"
                dorm:
                  id: "dorm_001"
                  name: "Block A"
                  code: "BLK-A"
                floor: 1
                assignedDate: "2026-03-15"
                roommates:
                  - studentId: "OBU12346"
                    fullName: "Bontu Tadese"
                    department: "Computer Science"
                    year: 3
        '404':
          description: No assignment found
    
  /student/maintenance-requests:
    get:
      tags:
        - Student
      summary: Get student's maintenance request history
      operationId: getMyMaintenanceRequests
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of maintenance requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  requests:
                    type: array
                    items:
                      $ref: '#/components/schemas/MaintenanceRequest'
                  total:
                    type: integer
    
  /student/profile:
    get:
      tags:
        - Student
      summary: Get student profile
      operationId: getStudentProfile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Student profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Student'
    
  # ========== ROOM MANAGEMENT ==========
  /dorms:
    get:
      tags:
        - Room Management
      summary: Get all dorm buildings
      operationId: getAllDorms
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of dorms
          content:
            application/json:
              schema:
                type: object
                properties:
                  buildings:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dorm'
    post:
      tags:
        - Room Management
      summary: Create new dorm building
      operationId: createDorm
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDormRequest'
      responses:
        '201':
          description: Dorm created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dorm'
    
  /dorms/{dormId}/floors:
    post:
      tags:
        - Room Management
      summary: Add floor to dorm building
      operationId: addFloor
      security:
        - bearerAuth: []
      parameters:
        - name: dormId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                floorNumber:
                  type: integer
      responses:
        '201':
          description: Floor added
    
  /rooms:
    get:
      tags:
        - Room Management
      summary: Get all rooms with filters
      operationId: getRooms
      security:
        - bearerAuth: []
      parameters:
        - name: building
          in: query
          schema:
            type: string
        - name: floor
          in: query
          schema:
            type: integer
        - name: status
          in: query
          schema:
            type: string
            enum: [Available, Occupied, Under Maintenance]
        - name: gender
          in: query
          schema:
            type: string
            enum: [Male, Female, None]
      responses:
        '200':
          description: List of rooms
          content:
            application/json:
              schema:
                type: object
                properties:
                  rooms:
                    type: array
                    items:
                      $ref: '#/components/schemas/Room'
    post:
      tags:
        - Room Management
      summary: Create new room
      operationId: createRoom
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoomRequest'
      responses:
        '201':
          description: Room created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Room'
    
  /rooms/{roomId}:
    get:
      tags:
        - Room Management
      summary: Get room details
      operationId: getRoom
      security:
        - bearerAuth: []
      parameters:
        - name: roomId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Room details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Room'
    put:
      tags:
        - Room Management
      summary: Update room
      operationId: updateRoom
      security:
        - bearerAuth: []
      parameters:
        - name: roomId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRoomRequest'
      responses:
        '200':
          description: Room updated
    
  /rooms/{roomId}/occupants:
    get:
      tags:
        - Room Management
      summary: Get current occupants of a room
      operationId: getRoomOccupants
      security:
        - bearerAuth: []
      parameters:
        - name: roomId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of occupants
          content:
            application/json:
              schema:
                type: object
                properties:
                  students:
                    type: array
                    items:
                      $ref: '#/components/schemas/Student'
    
  /rooms/available:
    get:
      tags:
        - Room Management
      summary: Get available rooms with filters
      operationId: getAvailableRooms
      security:
        - bearerAuth: []
      parameters:
        - name: building
          in: query
          schema:
            type: string
        - name: gender
          in: query
          schema:
            type: string
            enum: [Male, Female]
        - name: type
          in: query
          schema:
            type: string
            enum: [Single, Double, Triple]
      responses:
        '200':
          description: Available rooms
          content:
            application/json:
              schema:
                type: object
                properties:
                  rooms:
                    type: array
                    items:
                      $ref: '#/components/schemas/Room'
    
  # ========== ROOM ALLOCATION ==========
  /allocation/eligible-students:
    post:
      tags:
        - Room Allocation
      summary: Get eligible students for allocation
      operationId: getEligibleStudents
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoAllocationRequest'
      responses:
        '200':
          description: Eligible students and availability
          content:
            application/json:
              schema:
                type: object
                properties:
                  students:
                    type: array
                    items:
                      $ref: '#/components/schemas/Student'
                  totalBedsAvailable:
                    type: integer
    
  /allocation/automatic:
    post:
      tags:
        - Room Allocation
      summary: Run automatic room allocation
      operationId: autoAllocate
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoAllocationRequest'
      responses:
        '200':
          description: Allocation results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoAllocationResult'
    
  /allocation/manual:
    post:
      tags:
        - Room Allocation
      summary: Manually assign student to room
      operationId: manualAllocate
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManualAllocationRequest'
      responses:
        '201':
          description: Assignment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assignment'
        '400':
          description: Assignment not allowed (gender/capacity mismatch)
    
  /students/unassigned:
    get:
      tags:
        - Room Allocation
      summary: Get list of unassigned students
      operationId: getUnassignedStudents
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Unassigned students
          content:
            application/json:
              schema:
                type: object
                properties:
                  students:
                    type: array
                    items:
                      $ref: '#/components/schemas/Student'
    
  /assignments/{assignmentId}/vacate:
    delete:
      tags:
        - Room Allocation
      summary: Remove student from room (vacate)
      operationId: vacateRoom
      security:
        - bearerAuth: []
      parameters:
        - name: assignmentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Student vacated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
    
  # ========== ROOM CHANGE REQUESTS ==========
  /room-change-requests:
    get:
      tags:
        - Room Change Requests
      summary: Get student's own room change requests
      operationId: getMyRoomChangeRequests
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  requests:
                    type: array
                    items:
                      $ref: '#/components/schemas/RoomChangeRequest'
    post:
      tags:
        - Room Change Requests
      summary: Submit room change request
      operationId: submitRoomChangeRequest
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoomChangeRequest'
      responses:
        '201':
          description: Request submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomChangeRequest'
    
  /room-change-requests/pending:
    get:
      tags:
        - Room Change Requests
      summary: Get all pending room change requests (Admin)
      operationId: getPendingRoomChangeRequests
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Pending requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  requests:
                    type: array
                    items:
                      $ref: '#/components/schemas/RoomChangeRequest'
    
  /room-change-requests/{requestId}/approve:
    put:
      tags:
        - Room Change Requests
      summary: Approve room change request
      operationId: approveRoomChange
      security:
        - bearerAuth: []
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApproveRoomChangeRequest'
      responses:
        '200':
          description: Request approved, assignment updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assignment'
    
  /room-change-requests/{requestId}/reject:
    put:
      tags:
        - Room Change Requests
      summary: Reject room change request
      operationId: rejectRoomChange
      security:
        - bearerAuth: []
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RejectRoomChangeRequest'
      responses:
        '200':
          description: Request rejected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
    
  # ========== MAINTENANCE ==========
  /maintenance-requests:
    get:
      tags:
        - Maintenance
      summary: Get maintenance requests (filtered by role)
      operationId: getMaintenanceRequests
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [Submitted, In Progress, Completed, Rejected]
        - name: building
          in: query
          schema:
            type: string
        - name: priority
          in: query
          schema:
            type: string
            enum: [Low, Medium, High]
      responses:
        '200':
          description: List of maintenance requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  requests:
                    type: array
                    items:
                      $ref: '#/components/schemas/MaintenanceRequest'
    post:
      tags:
        - Maintenance
      summary: Submit maintenance request
      operationId: submitMaintenanceRequest
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMaintenanceRequest'
      responses:
        '201':
          description: Request submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceRequest'
    
  /maintenance-requests/assigned:
    get:
      tags:
        - Maintenance
      summary: Get requests assigned to current maintenance staff
      operationId: getAssignedRequests
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Assigned tasks
          content:
            application/json:
              schema:
                type: object
                properties:
                  tasks:
                    type: array
                    items:
                      $ref: '#/components/schemas/MaintenanceRequest'
    
  /maintenance-requests/{requestId}/status:
    put:
      tags:
        - Maintenance
      summary: Update maintenance request status
      operationId: updateMaintenanceStatus
      security:
        - bearerAuth: []
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMaintenanceStatusRequest'
      responses:
        '200':
          description: Status updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
    
  /maintenance-requests/{requestId}/notes:
    post:
      tags:
        - Maintenance
      summary: Add note to maintenance request
      operationId: addMaintenanceNote
      security:
        - bearerAuth: []
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddMaintenanceNoteRequest'
      responses:
        '200':
          description: Note added
          content:
            application/json:
              schema:
                type: object
                properties:
                  note:
                    $ref: '#/components/schemas/AddMaintenanceNoteRequest'
    
  /maintenance-requests/{requestId}/reassign:
    put:
      tags:
        - Maintenance
      summary: Reassign maintenance request to different staff
      operationId: reassignMaintenanceRequest
      security:
        - bearerAuth: []
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReassignMaintenanceRequest'
      responses:
        '200':
          description: Reassigned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
    
  # ========== INVENTORY ==========
  /inventory/furniture/room/{roomId}:
    get:
      tags:
        - Inventory
      summary: Get furniture inventory for a room
      operationId: getRoomFurniture
      security:
        - bearerAuth: []
      parameters:
        - name: roomId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Furniture items
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/FurnitureItem'
    
  /inventory/furniture:
    post:
      tags:
        - Inventory
      summary: Add furniture item to room
      operationId: addFurniture
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFurnitureRequest'
      responses:
        '201':
          description: Furniture added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FurnitureItem'
    
  /inventory/furniture/{itemId}:
    put:
      tags:
        - Inventory
      summary: Update furniture item
      operationId: updateFurniture
      security:
        - bearerAuth: []
      parameters:
        - name: itemId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFurnitureRequest'
      responses:
        '200':
          description: Furniture updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FurnitureItem'
    
  /inventory/linen/issue:
    post:
      tags:
        - Inventory
      summary: Issue linen to student
      operationId: issueLinen
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueLinenRequest'
      responses:
        '201':
          description: Linen issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinenRecord'
    
  /inventory/linen/return:
    post:
      tags:
        - Inventory
      summary: Record linen return
      operationId: returnLinen
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - recordId
                - itemsReturned
              properties:
                recordId:
                  type: string
                itemsReturned:
                  type: array
                  items:
                    type: string
                damages:
                  type: string
      responses:
        '200':
          description: Linen return recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
    
  /inventory/keys/issue:
    post:
      tags:
        - Inventory
      summary: Issue room key to student
      operationId: issueKey
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueKeyRequest'
      responses:
        '201':
          description: Key issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyRecord'
    
  /inventory/keys/return:
    post:
      tags:
        - Inventory
      summary: Record key return
      operationId: returnKey
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - recordId
              properties:
                recordId:
                  type: string
                condition:
                  type: string
      responses:
        '200':
          description: Key return recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
    
  /inventory/keys/missing:
    get:
      tags:
        - Inventory
      summary: Get missing keys report
      operationId: getMissingKeys
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Missing keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  missingKeys:
                    type: array
                    items:
                      $ref: '#/components/schemas/KeyRecord'
    
  # ========== REPORTS ==========
  /reports/dashboard-summary:
    get:
      tags:
        - Reports
      summary: Get dashboard summary statistics
      operationId: getDashboardSummary
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Summary statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardSummary'
    
  /reports/occupancy:
    get:
      tags:
        - Reports
      summary: Get occupancy report
      operationId: getOccupancyReport
      security:
        - bearerAuth: []
      parameters:
        - name: startDate
          in: query
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
        - name: building
          in: query
          schema:
            type: string
        - name: floor
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Occupancy report data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OccupancyReportData'
    
  /reports/student-directory:
    get:
      tags:
        - Reports
      summary: Get student directory report
      operationId: getStudentDirectory
      security:
        - bearerAuth: []
      parameters:
        - name: department
          in: query
          schema:
            type: string
        - name: year
          in: query
          schema:
            type: integer
        - name: building
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Student directory
          content:
            application/json:
              schema:
                type: object
                properties:
                  students:
                    type: array
                    items:
                      $ref: '#/components/schemas/StudentDirectoryEntry'
    
  /reports/maintenance-summary:
    get:
      tags:
        - Reports
      summary: Get maintenance summary report
      operationId: getMaintenanceSummary
      security:
        - bearerAuth: []
      parameters:
        - name: startDate
          in: query
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Maintenance summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceSummary'
    
  /reports/room-utilization:
    get:
      tags:
        - Reports
      summary: Get room utilization report
      operationId: getRoomUtilization
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Room utilization
          content:
            application/json:
              schema:
                type: object
                properties:
                  rooms:
                    type: array
                    items:
                      $ref: '#/components/schemas/RoomUtilizationEntry'
    
  /reports/unassigned-students:
    get:
      tags:
        - Reports
      summary: Get unassigned students report
      operationId: getUnassignedStudentsReport
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Unassigned students
          content:
            application/json:
              schema:
                type: object
                properties:
                  students:
                    type: array
                    items:
                      $ref: '#/components/schemas/Student'
    
  /reports/inventory-condition:
    get:
      tags:
        - Reports
      summary: Get inventory condition report
      operationId: getInventoryConditionReport
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Inventory by condition
          content:
            application/json:
              schema:
                type: object
                properties:
                  byCondition:
                    type: array
                    items:
                      type: object
                      properties:
                        condition:
                          type: string
                        count:
                          type: integer
    
  /reports/export:
    post:
      tags:
        - Reports
      summary: Export report to file
      operationId: exportReport
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportReportRequest'
      responses:
        '200':
          description: Export file URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportResponse'
    
  # ========== USER MANAGEMENT ==========
  /users:
    get:
      tags:
        - User Management
      summary: Get all users (System Admin only)
      operationId: getUsers
      security:
        - bearerAuth: []
      parameters:
        - name: role
          in: query
          schema:
            type: string
            enum: [student, dorm_admin, maintenance, management, system_admin]
        - name: status
          in: query
          schema:
            type: string
            enum: [active, inactive]
        - name: search
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  total:
                    type: integer
    post:
      tags:
        - User Management
      summary: Create new user
      operationId: createUser
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
    
  /users/{userId}:
    get:
      tags:
        - User Management
      summary: Get user by ID
      operationId: getUser
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
    put:
      tags:
        - User Management
      summary: Update user
      operationId: updateUser
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fullName:
                  type: string
                email:
                  type: string
                role:
                  type: string
                  enum: [student, dorm_admin, maintenance, management, system_admin]
                status:
                  type: string
                  enum: [active, inactive]
      responses:
        '200':
          description: User updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
    
  /users/{userId}/deactivate:
    post:
      tags:
        - User Management
      summary: Deactivate user account
      operationId: deactivateUser
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User deactivated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
    
  /users/{userId}/reactivate:
    post:
      tags:
        - User Management
      summary: Reactivate user account
      operationId: reactivateUser
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User reactivated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
    
  /users/{userId}/reset-password:
    post:
      tags:
        - User Management
      summary: Send password reset link to user
      operationId: adminResetPassword
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Reset link sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
    
  /roles/permissions:
    get:
      tags:
        - User Management
      summary: Get role permissions matrix
      operationId: getRolePermissions
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Role permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  roles:
                    type: array
                    items:
                      type: object
                      properties:
                        role:
                          type: string
                        permissions:
                          type: array
                          items:
                            type: string
    
  # ========== NOTIFICATIONS ==========
  /notifications:
    get:
      tags:
        - Notifications
      summary: Get user notifications
      operationId: getNotifications
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: unreadOnly
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Notifications list
          content:
            application/json:
              schema:
                type: object
                properties:
                  notifications:
                    type: array
                    items:
                      $ref: '#/components/schemas/Notification'
                  total:
                    type: integer
    
  /notifications/unread-count:
    get:
      tags:
        - Notifications
      summary: Get unread notifications count
      operationId: getUnreadCount
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Unread count
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
    
  /notifications/{notificationId}/read:
    put:
      tags:
        - Notifications
      summary: Mark notification as read
      operationId: markAsRead
      security:
        - bearerAuth: []
      parameters:
        - name: notificationId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Marked as read
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
    
  /notifications/read-all:
    put:
      tags:
        - Notifications
      summary: Mark all notifications as read
      operationId: markAllAsRead
      security:
        - bearerAuth: []
      responses:
        '200':
          description: All marked as read
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
    
  /notifications/broadcast:
    post:
      tags:
        - Notifications
      summary: Send broadcast notification (Admin only)
      operationId: broadcastNotification
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BroadcastNotificationRequest'
      responses:
        '200':
          description: Broadcast sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
    
  # ========== AUDIT LOGS ==========
  /audit-logs:
    get:
      tags:
        - Audit Logs
      summary: Get audit logs (System Admin only)
      operationId: getAuditLogs
      security:
        - bearerAuth: []
      parameters:
        - name: startDate
          in: query
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
        - name: user
          in: query
          schema:
            type: string
        - name: action
          in: query
          schema:
            type: string
            enum: [CREATE, UPDATE, DELETE, LOGIN, LOGOUT, APPROVE, REJECT, ASSIGN]
        - name: entity
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Audit logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  logs:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditLog'
                  total:
                    type: integer
                  page:
                    type: integer
                  totalPages:
                    type: integer
    
  /audit-logs/export:
    get:
      tags:
        - Audit Logs
      summary: Export audit logs to CSV
      operationId: exportAuditLogs
      security:
        - bearerAuth: []
      parameters:
        - name: startDate
          in: query
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
        - name: user
          in: query
          schema:
            type: string
        - name: action
          in: query
          schema:
            type: string
      responses:
        '200':
          description: CSV download URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportResponse'